.form-component {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.evaluation-table {
    margin-bottom: 1rem;
    width: 100%;
    border-collapse: collapse;
    color: #000000;
}

.evaluation-table th, .evaluation-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

.total-grade {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
}

.select-criteria{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: #000000;
}
input [type="radio"]{
    appearance: none;

    border: 1px solid #BBC1C1;
    padding: 1rem;
    border-radius: 50%;
    background-color: white;
}
.borda-fator{
    border: 4px solid #000000;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: #000000;
}

.form-check-input:checked {
   appearance: none;
   border: 8px solid black;
}
.form-check-input{
   appearance: none;
   border: 1px solid black;
}

input [type="radio"]:checked {
    appearance: none;
}


